{% macro leftImage(file, content='') %}
<div class="flex grid-rows-2 gap-4" >

<div class="prose img mt-0 mb-0">
<img src="{{ rootdir }}/assets/img/{{ file }}">
</div>

<div class="prose mt-0 mb-0">

{{ content }}

</div>

</div>

{% endmacro %}
