@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2, h3, h4, h5, h6 {
        font-family:    Museo-500;
        padding-top:    1em;
        line-height:    2.4em;
        border-bottom:  solid 1px #000;
    }
    p {
        font-family:   Roboto;
    }
    body {
        font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
    }
}

@layer utilities {
    .header-shadow {
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06)
    }

    .visually-hidden { 
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }
}