@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .postContent {
        h2, h3, h4, h5, h6 {
            @apply prose border-b-0;
        }
    }

    h2, h3, h4, h5, h6 {
        font-family:    Museo-500;
        padding-top:    1em;
        line-height:    2.4em;
        @apply border-b-2;
    }
    p {
        font-family:   Roboto;
        @apply text-lg;
    }
    body {
        font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
    }

    .prose {
        img {
            @apply mt-0 mb-0;
        }
    }
}

@layer utilities {
    .header-shadow {
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06)
    }

    .visually-hidden { 
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }
}