@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .postContent {
        h2, h3, h4, h5, h6 {
            @apply prose border-b-0;
        }
    }

    @font-face {
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: 400;
        src: local("IBM Plex Sans"), local("IBMPlexSans"), url("/assets/fonts/IBMPlexSans-Regular.ttf") format("ttf")
    }
    @font-face {
        font-family: "IBM Plex Sans";
        font-style: italic;
        font-weight: 400;
        src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url("/assets/fonts/IBMPlexSans-Italc.ttf") format("ttf")
    }
    @font-face {
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: 600;
        src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("/assets/fonts/IBMPlexSans-SemiBold.ttf") format("ttf")
    }

    h2, h3, h4, h5, h6 {
        padding-top:    1em;
        line-height:    2.4em;
        @apply border-b-2;
    }
    p {
        @apply text-lg;
    }
    body {
    }
}

@layer utilities {
    .header-shadow {
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06)
    }

    .visually-hidden { 
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }

    .h-64px {
        height: 64px;
    }

    .h-80px {
        height: 80px;
    }

}

@layer components {
    .h1-main {
        @apply font-sans font-bold text-mousebirdDarkGray text-3xl sm:text-4xl xl:text-5xl
    }
    .subhead-main {
        @apply font-sans font-normal text-mousebirdDarkGray my-4 text-lg sm:text-xl xl:text-3xl
    }
    .p-main {
        @apply font-serif font-normal text-mousebirdDarkGray text-base lg:text-lg mt-4
    }
    .p-intro {
        @apply p-main text-center
    }
    .btn-main {
        @apply pt-2 pr-5 pb-3 pl-5 rounded-full bg-mousebirdGreen border-0
    }
    .btn-main-text {
        @apply font-bold text-base lg:text-lg xl:text-xl text-white hover:text-mousebirdBlue duration-300
    }
}